--
-- PostgreSQL database dump
--

\restrict NkvKpQcqdKEW5P2YIjANte7nTlAgAfabYL3zDBrbmKX0xkfLP2pveCDqfx7O9aH

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_role_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_settings DROP CONSTRAINT IF EXISTS user_settings_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_profiles DROP CONSTRAINT IF EXISTS user_profiles_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.room_equipment DROP CONSTRAINT IF EXISTS room_equipment_room_id_fkey;
ALTER TABLE IF EXISTS ONLY public.room_equipment DROP CONSTRAINT IF EXISTS room_equipment_equipment_id_fkey;
ALTER TABLE IF EXISTS ONLY public.bookings DROP CONSTRAINT IF EXISTS bookings_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.bookings DROP CONSTRAINT IF EXISTS bookings_room_id_fkey;
DROP TRIGGER IF EXISTS update_user_profiles_updated_at ON public.user_profiles;
DROP TRIGGER IF EXISTS trg_prevent_overlapping_bookings ON public.bookings;
DROP INDEX IF EXISTS public.idx_users_email;
DROP INDEX IF EXISTS public.idx_bookings_user;
DROP INDEX IF EXISTS public.idx_bookings_room_date;
DROP INDEX IF EXISTS public.idx_bookings_date;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_email_key;
ALTER TABLE IF EXISTS ONLY public.user_settings DROP CONSTRAINT IF EXISTS user_settings_pkey;
ALTER TABLE IF EXISTS ONLY public.user_profiles DROP CONSTRAINT IF EXISTS user_profiles_pkey;
ALTER TABLE IF EXISTS ONLY public.rooms DROP CONSTRAINT IF EXISTS rooms_pkey;
ALTER TABLE IF EXISTS ONLY public.rooms DROP CONSTRAINT IF EXISTS rooms_name_key;
ALTER TABLE IF EXISTS ONLY public.room_equipment DROP CONSTRAINT IF EXISTS room_equipment_pkey;
ALTER TABLE IF EXISTS ONLY public.roles DROP CONSTRAINT IF EXISTS roles_pkey;
ALTER TABLE IF EXISTS ONLY public.roles DROP CONSTRAINT IF EXISTS roles_name_key;
ALTER TABLE IF EXISTS ONLY public.equipment DROP CONSTRAINT IF EXISTS equipment_pkey;
ALTER TABLE IF EXISTS ONLY public.equipment DROP CONSTRAINT IF EXISTS equipment_name_key;
ALTER TABLE IF EXISTS ONLY public.bookings DROP CONSTRAINT IF EXISTS bookings_pkey;
ALTER TABLE IF EXISTS public.users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.rooms ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.roles ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.equipment ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.bookings ALTER COLUMN id DROP DEFAULT;
DROP VIEW IF EXISTS public.v_upcoming_bookings;
DROP VIEW IF EXISTS public.v_room_details;
DROP SEQUENCE IF EXISTS public.users_id_seq;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.user_settings;
DROP TABLE IF EXISTS public.user_profiles;
DROP SEQUENCE IF EXISTS public.rooms_id_seq;
DROP TABLE IF EXISTS public.rooms;
DROP TABLE IF EXISTS public.room_equipment;
DROP SEQUENCE IF EXISTS public.roles_id_seq;
DROP TABLE IF EXISTS public.roles;
DROP SEQUENCE IF EXISTS public.equipment_id_seq;
DROP TABLE IF EXISTS public.equipment;
DROP SEQUENCE IF EXISTS public.bookings_id_seq;
DROP TABLE IF EXISTS public.bookings;
DROP FUNCTION IF EXISTS public.update_updated_at_column();
DROP FUNCTION IF EXISTS public.fn_prevent_overlapping_bookings();
--
-- Name: fn_prevent_overlapping_bookings(); Type: FUNCTION; Schema: public; Owner: dbuser
--

CREATE FUNCTION public.fn_prevent_overlapping_bookings() RETURNS trigger
    LANGUAGE plpgsql
    AS $$BEGIN IF EXISTS (SELECT 1 FROM bookings WHERE room_id = NEW.room_id AND date = NEW.date AND status != 'cancelled' AND id != COALESCE(NEW.id, 0) AND ((NEW.start_time >= start_time AND NEW.start_time < end_time) OR (NEW.end_time > start_time AND NEW.end_time <= end_time) OR (NEW.start_time <= start_time AND NEW.end_time >= end_time))) THEN RAISE EXCEPTION 'Room % is already booked during this time (%, %-%)', NEW.room_id, NEW.date, NEW.start_time, NEW.end_time; END IF; RETURN NEW; END;$$;


ALTER FUNCTION public.fn_prevent_overlapping_bookings() OWNER TO dbuser;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: dbuser
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO dbuser;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bookings; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.bookings (
    id integer NOT NULL,
    user_id integer NOT NULL,
    room_id integer NOT NULL,
    date date NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    status character varying(20) DEFAULT 'confirmed'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT bookings_status_check CHECK (((status)::text = ANY ((ARRAY['confirmed'::character varying, 'cancelled'::character varying, 'pending'::character varying])::text[]))),
    CONSTRAINT chk_time_order CHECK ((start_time < end_time))
);


ALTER TABLE public.bookings OWNER TO dbuser;

--
-- Name: bookings_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

CREATE SEQUENCE public.bookings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.bookings_id_seq OWNER TO dbuser;

--
-- Name: bookings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dbuser
--

ALTER SEQUENCE public.bookings_id_seq OWNED BY public.bookings.id;


--
-- Name: equipment; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.equipment (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    icon_name character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.equipment OWNER TO dbuser;

--
-- Name: equipment_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

CREATE SEQUENCE public.equipment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.equipment_id_seq OWNER TO dbuser;

--
-- Name: equipment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dbuser
--

ALTER SEQUENCE public.equipment_id_seq OWNED BY public.equipment.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.roles OWNER TO dbuser;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO dbuser;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dbuser
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: room_equipment; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.room_equipment (
    room_id integer NOT NULL,
    equipment_id integer NOT NULL
);


ALTER TABLE public.room_equipment OWNER TO dbuser;

--
-- Name: rooms; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.rooms (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    capacity integer NOT NULL,
    description text,
    image_path character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT rooms_capacity_check CHECK ((capacity > 0))
);


ALTER TABLE public.rooms OWNER TO dbuser;

--
-- Name: rooms_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

CREATE SEQUENCE public.rooms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rooms_id_seq OWNER TO dbuser;

--
-- Name: rooms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dbuser
--

ALTER SEQUENCE public.rooms_id_seq OWNED BY public.rooms.id;


--
-- Name: user_profiles; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.user_profiles (
    user_id integer NOT NULL,
    first_name character varying(50),
    last_name character varying(50),
    phone_number character varying(20),
    avatar_url character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_profiles OWNER TO dbuser;

--
-- Name: user_settings; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.user_settings (
    user_id integer NOT NULL,
    language character varying(10) DEFAULT 'pl'::character varying,
    notifications_enabled boolean DEFAULT true,
    theme character varying(20) DEFAULT 'light'::character varying,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_settings OWNER TO dbuser;

--
-- Name: users; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    must_change_password boolean DEFAULT false,
    CONSTRAINT chk_email_format CHECK (((email)::text ~* '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}$'::text))
);


ALTER TABLE public.users OWNER TO dbuser;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO dbuser;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dbuser
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: v_room_details; Type: VIEW; Schema: public; Owner: dbuser
--

CREATE VIEW public.v_room_details AS
 SELECT r.id,
    r.name,
    r.capacity,
    r.description,
    r.image_path,
    COALESCE(string_agg((e.name)::text, ', '::text ORDER BY (e.name)::text), 'No equipment'::text) AS equipment_list,
    count(DISTINCT re.equipment_id) AS equipment_count
   FROM ((public.rooms r
     LEFT JOIN public.room_equipment re ON ((r.id = re.room_id)))
     LEFT JOIN public.equipment e ON ((re.equipment_id = e.id)))
  GROUP BY r.id, r.name, r.capacity, r.description, r.image_path;


ALTER TABLE public.v_room_details OWNER TO dbuser;

--
-- Name: v_upcoming_bookings; Type: VIEW; Schema: public; Owner: dbuser
--

CREATE VIEW public.v_upcoming_bookings AS
 SELECT b.id AS booking_id,
    b.date,
    b.start_time,
    b.end_time,
    b.status,
    u.id AS user_id,
    u.email AS user_email,
    r.id AS room_id,
    r.name AS room_name,
    r.capacity AS room_capacity,
    b.created_at AS booking_created_at
   FROM ((public.bookings b
     JOIN public.users u ON ((b.user_id = u.id)))
     JOIN public.rooms r ON ((b.room_id = r.id)))
  WHERE ((b.date >= CURRENT_DATE) AND ((b.status)::text <> 'cancelled'::text))
  ORDER BY b.date, b.start_time;


ALTER TABLE public.v_upcoming_bookings OWNER TO dbuser;

--
-- Name: bookings id; Type: DEFAULT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.bookings ALTER COLUMN id SET DEFAULT nextval('public.bookings_id_seq'::regclass);


--
-- Name: equipment id; Type: DEFAULT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.equipment ALTER COLUMN id SET DEFAULT nextval('public.equipment_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: rooms id; Type: DEFAULT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.rooms ALTER COLUMN id SET DEFAULT nextval('public.rooms_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: bookings; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.bookings (id, user_id, room_id, date, start_time, end_time, status, created_at) FROM stdin;
4	1	2	2025-10-29	09:00:00	10:00:00	confirmed	2026-01-26 13:15:31.191706
6	1	3	2025-10-29	09:00:00	10:00:00	confirmed	2026-01-26 13:16:02.144654
16	7	3	2026-01-29	21:00:00	23:00:00	confirmed	2026-01-29 20:00:47.244735
\.


--
-- Data for Name: equipment; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.equipment (id, name, icon_name, created_at) FROM stdin;
1	Projector	projector	2026-01-25 22:41:57.901597
2	Whiteboard	whiteboard	2026-01-25 22:41:57.901597
3	WiFi	wifi	2026-01-25 22:41:57.901597
4	Video Conference	video	2026-01-25 22:41:57.901597
5	Air Conditioning	ac	2026-01-25 22:41:57.901597
6	Coffee Machine	coffee	2026-01-25 22:41:57.901597
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.roles (id, name, created_at) FROM stdin;
1	admin	2026-01-25 22:41:57.8959
2	user	2026-01-25 22:41:57.8959
\.


--
-- Data for Name: room_equipment; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.room_equipment (room_id, equipment_id) FROM stdin;
1	1
1	3
1	4
1	5
1	6
2	2
2	3
2	1
3	1
3	3
3	4
3	2
3	5
\.


--
-- Data for Name: rooms; Type: TABLE DATA; Schema: public; Owner: dbuser
--



--
-- Data for Name: user_profiles; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.user_profiles (user_id, first_name, last_name, phone_number, avatar_url, created_at, updated_at) FROM stdin;
7	User	Name	\N	\N	2026-01-29 13:31:33.516515	2026-01-29 13:31:33.516515
1	Admin	Systemowy	123-456-789	\N	2026-01-29 13:31:33.516515	2026-01-29 13:31:33.525959
6	User	Name		\N	2026-01-29 13:31:33.516515	2026-01-29 20:37:26.65919
\.


--
-- Data for Name: user_settings; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.user_settings (user_id, language, notifications_enabled, theme, updated_at) FROM stdin;
1	en	t	dark	2026-01-30 23:18:30.126322
6	pl	t	light	2026-01-30 23:18:30.126322
7	pl	f	light	2026-01-30 23:18:30.126322
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.users (id, email, password, role_id, created_at, must_change_password) FROM stdin;
1	admin@bookroom.com	$2y$10$YI/wqIarcjto5fki3H/qruXOq6D6KRAY2Oe/1yxGU3df84djFdgYC	1	2026-01-25 22:41:57.897524	f
7	krowa@bookroom.com	$2y$10$.ewOcaQh4SP4T0KiP4U3auq2gn1CtJY9201xFV6PlF6GSJilBE4na	2	2026-01-27 20:28:59.124668	f
6	kot@bookroom.com	$2y$10$HFEiROdC9X7q2CXfF0BUneYSksBIt8pR6azNDqX2qQgMsGYrev7JO	2	2026-01-27 19:56:42.301661	f
\.


--
-- Name: bookings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.bookings_id_seq', 19, true);


--
-- Name: equipment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.equipment_id_seq', 6, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.roles_id_seq', 2, true);


--
-- Name: rooms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.rooms_id_seq', 3, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.users_id_seq', 9, true);


--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (id);


--
-- Name: equipment equipment_name_key; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.equipment
    ADD CONSTRAINT equipment_name_key UNIQUE (name);


--
-- Name: equipment equipment_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.equipment
    ADD CONSTRAINT equipment_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: room_equipment room_equipment_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.room_equipment
    ADD CONSTRAINT room_equipment_pkey PRIMARY KEY (room_id, equipment_id);


--
-- Name: rooms rooms_name_key; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_name_key UNIQUE (name);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (id);


--
-- Name: user_profiles user_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_pkey PRIMARY KEY (user_id);


--
-- Name: user_settings user_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.user_settings
    ADD CONSTRAINT user_settings_pkey PRIMARY KEY (user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_bookings_date; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX idx_bookings_date ON public.bookings USING btree (date);


--
-- Name: idx_bookings_room_date; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX idx_bookings_room_date ON public.bookings USING btree (room_id, date);


--
-- Name: idx_bookings_user; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX idx_bookings_user ON public.bookings USING btree (user_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: bookings trg_prevent_overlapping_bookings; Type: TRIGGER; Schema: public; Owner: dbuser
--

CREATE TRIGGER trg_prevent_overlapping_bookings BEFORE INSERT OR UPDATE ON public.bookings FOR EACH ROW EXECUTE FUNCTION public.fn_prevent_overlapping_bookings();


--
-- Name: user_profiles update_user_profiles_updated_at; Type: TRIGGER; Schema: public; Owner: dbuser
--

CREATE TRIGGER update_user_profiles_updated_at BEFORE UPDATE ON public.user_profiles FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: bookings bookings_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(id) ON DELETE CASCADE;


--
-- Name: bookings bookings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: room_equipment room_equipment_equipment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.room_equipment
    ADD CONSTRAINT room_equipment_equipment_id_fkey FOREIGN KEY (equipment_id) REFERENCES public.equipment(id) ON DELETE CASCADE;


--
-- Name: room_equipment room_equipment_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.room_equipment
    ADD CONSTRAINT room_equipment_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(id) ON DELETE CASCADE;


--
-- Name: user_profiles user_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_settings user_settings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.user_settings
    ADD CONSTRAINT user_settings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict NkvKpQcqdKEW5P2YIjANte7nTlAgAfabYL3zDBrbmKX0xkfLP2pveCDqfx7O9aH

